:root {
    --color-principal: #076653;
    --color-secundario: #e3ef26;
    --color-terciario: #e2fbce;
  }

body {
    background: linear-gradient(to right, #076653 , #e3ef26);
  }

/* Cabecera */
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 70px;
    background: 10%;
    padding: 0.2rem 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    box-shadow: 0 2rem 1rem rgba(0,0,0,.3);
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button {
    width: 100%;
    font-size: inherit;
    padding: 7px;
    width: 110px;
    background-color: transparent;/* pone transparente el fondo*/
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    font-weight: bold;/* sirve para poner la letra negrita*/
}
a [type="submint"]:hover{
    background-color: var(--color-terciario);
    color: #fff;
  }
